body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 70%;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: "Open Sans", sans-serif;
}
span {
  font-family: "KoHo", sans-serif;
}
h3, h4 ,h2{
  font-family: "KoHo", sans-serif;
}
h1 {
  font-family: "Goblin One", cursive;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
