.cart__books::-webkit-scrollbar {
  display: none;
}
.cart__books{
  display: flex;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width:none; 
  overflow-x: scroll;
}
.cart__placeOrder {
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.cart__placeOrderEnabled {
  background-color: slateblue;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: none;
  height: 40px;
}
.cart__placeOrderDisabled {
  display: none;
}
